@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  list-style-type: none;
  color: #242424;
}
:root {
  --primary-color: #1a08a4;
  --accent-color: #5e7cea;
  --font-lg: 2.5rem;
  --font-med: 1.5rem;
  --font-norm: 1rem;
  --font-sm: 0.85rem;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  text-align: center;
  line-height: 1.25;
}
h1 {
  font-size: var(--font-lg);
}
p {
  line-height: 1.5;
  font-size: var(--font-sm);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-1 {
  flex: 1;
}
.row {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.container {
  padding: 50px 0;
}
.section {
  transition: all 300ms ease;
}
.section__title {
  margin-bottom: 20px;
  z-index: 1;
}
section:nth-child(even) {
  background-color: #f8f8f8;
}
a {
  text-decoration: none;
  position: relative;
}
i:hover {
  opacity: 0.7;
}
.link__hover-effect:after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #242424;
  width: 0%;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
}

.link__hover-effect:hover:after {
  width: 100%;
  left: 0;
}
.link__hover-effect--white:after {
  background-color: white;
}
input,
textarea {
  width: 100%;
  background-color: transparent;
  color: white;
  outline: none;
  border: 3px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 30px;
  transition: all 300ms ease;
}
input {
  line-height: 60px;
  font-size: var(--font-med);
}
textarea {
  font-size: var(--font-norm);
  resize: vertical;
  height: 100px;
  margin-top: 10px;
}

input:hover,
textarea:hover {
  border-color: grey;
}
input:focus,
textarea:focus {
  border-color: var(--accent-color);
}

label {
  font-size: var(--font-sm);
  font-weight: bold;
  padding-top: 10px;
}
.click {
  cursor: pointer;
}
.about-me__info,
.scroll,
nav {
  opacity: 1;
  visibility: visible;
}

.modal--open .about-me__info,
.modal--open .scroll,
.modal--open nav {
  opacity: 0;
  visibility: hidden;
  transition: all 400ms;
}

/* 


dark theme


*/
.dark-theme {
  transition: all 400ms ease;
}
.dark-theme .nav__link--anchor,
.dark-theme .fa-circle-half-stroke,
.dark-theme .about-me__info--title,
.dark-theme .about-me__info--para,
.dark-theme .about-me__info--para,
.dark-theme .section__title,
.dark-theme .section__title {
  color: white;
}
.dark-theme section,
.dark-theme nav,
.dark-theme body {
  background-color: #242424;
}

.dark-theme .personal__logo {
  filter: invert(1);
}

.dark-theme .scroll__icon,
.dark-theme .scroll__icon:after,
.dark-theme .link__hover-effect {
  color: white;
}
.dark-theme .link__hover-effect:after,
.dark-theme .btn__mail {
  background-color: white;
}

.dark-theme .btn__mail {
  border-color: white;
}
.dark-theme .btn__mail--white {
  color: #242424;
}

/* Nav BAR */

nav {
  height: 100px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}

.nav__link--list {
  display: flex;
  position: relative;
}
.nav__link--anchor {
  margin: 0 12px;
  text-decoration: none;
  font-weight: 700;
}

.nav__link--anchor-primary {
  color: white;
  background-color: var(--primary-color);
  padding: 8px 20px;
  border-radius: 50px;
  transition: all 300ms ease;
}
.nav__link--anchor-primary:hover {
  background-color: var(--accent-color);
}

.personal__logo {
  font-size: var(--font-lg);
  color: var(--primary-color);
  margin: 0 12px;
  font-weight: bold;
}

.text--accent {
  display: inline-block;
  color: var(--primary-color);
  text-shadow: 1px 1px white;
}
.text--wiggle {
  animation: animate-wiggle 1200ms infinite alternate;
}
.btn__mail {
  width: 50px;
  height: 50px;
  font-size: var(--font-med);
  border-radius: 50%;
  border: none;
  position: fixed;
  bottom: 24px;
  right: 24px;
  background-color: #242424;
  z-index: 999;
}
.btn__mail--white {
  color: white;
}
.scroll {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.scroll__icon {
  width: 20px;
  height: 30px;
  border: 2px solid #242424;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll__icon:after {
  content: "";
  width: 4px;
  height: 6px;
  background-color: #242424;
  border-radius: 2px;
  animation: scroll 300ms infinite alternate-reverse;
}

@keyframes scroll {
  0% {
    transform: translateY(3px);
  }

  100% {
    transform: translateY(-3px);
  }
}
@keyframes animate-wiggle {
  0% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

/* 

Modal 

*/

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1100px;
  height: 770px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  visibility: hidden;
  z-index: -1;
  transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}

.modal--open .modal {
  z-index: 60;
  box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.7);
  visibility: visible;
}

.modal__half {
  width: 50%;
  padding: 40px 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transition: all 300ms ease-in;
}
.modal__about {
  background-color: lightgray;
  transform: translateX(-110%);
}

.modal--open .modal__about,
.modal--open .modal__contact {
  transform: translatex(0%);
}
.modal__contact {
  background-color: #242424;
  color: white;
  transform: translateX(110%);
}

.modal__title {
  font-size: var(--font-lg);
}
.modal__title--contact,
.modal__subtitle--contact {
  color: white;
}

.modal__subitle {
  font-size: var(--font-med);
  padding: 24px 0;
}
.modal__subtitle--contact {
  font-size: var(--font-norm);
  padding: 12px;
}

.modal__para {
  line-height: 1.75rem;
  font-size: var(--font-norm);
}

.modal__para + .modal__para {
  padding: 30px 0;
}
.modal__para--contac .form__item {
  display: flex;
  flex-direction: column;
}

.form__item--label {
  color: white;
  padding: 1000px 0;
}

.form__submit {
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
  color: white;
  border-radius: 10px;
  font-weight: 700;
  width: 100%;
  max-width: 240px;
  padding: 12px 24px;
  font-size: 20px;
  transition: all 300ms ease;
}

.form__submit:hover {
  border-color: white;
  background-color: transparent;
}
.form__submit:active {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal__overlay--loading {
  background-color: #242424;
  font-size: 80px;
  z-index: -1;
}
.modal__overlay--success {
  background-color: green;
  font-size: var(--font-lg);
  font-weight: 700;
  text-align: center;
  padding: 30px;
  color: white;
  z-index: -1;
}
.modal__overlay--visible {
  z-index: 1;
  display: flex;
}

.fa-spinner {
  animation: spinner 1000ms infinite;
}

.modal__exit {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 100;
  color: white;
  font-size: var(--font-lg);
}
@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*  

ABOUT ME 


*/

#about-me {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.about-me__info {
  flex-direction: column;
}
.about-me__info--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
  z-index: 1;
}

.about-me__picture--mask {
  max-width: 100px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  margin-bottom: 24px;
  animation: animate-profile-pic 800ms 200ms backwards;
  z-index: 1;
}
@keyframes animate-profile-pic {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

.about-me__img {
  width: 100%;
  padding-top: 2px;
}
.about-me__info--para {
  font-size: var(--font-med);
  margin: 24px 0;
  z-index: 1;
}

.about-me__link {
  font-size: var(--font-med);
  padding: 0 12px;
  color: #242424;
  margin-bottom: 40px;
  z-index: 1;
}

.about-me__img--container {
  animation: fade-in 1500ms 1000ms backwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about-me__info--para,
.about-me__info--title,
.about-me__link {
  animation: fade-up 800ms 500ms backwards;
}
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.about-me__img--hero {
  width: 70%;
}

/* Tech Stack */
.language {
  width: 33%;
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 40px;
}
.language__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.language__img {
  width: 75%;
  max-width: 100px;
  transition: all 300ms ease;
}
.language:hover .language__img {
  filter: brightness(80%);
  opacity: 0.8;
  transform: scale(0.6);
}
.language__img--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 8px;
}
.language__name {
  position: absolute;
  bottom: 0;
  transform: scale(0);
  opacity: 0;
  transition: all 300ms ease;
  font-size: var(--font-norm);
}
.language:hover .language__name {
  transform: scale(1.5);
  opacity: 1;
  font-weight: 700;
}

/* Projects */

.project__img {
  width: 100%;
  transition: all 300ms ease;
}

.project__list {
  padding-top: 40px;
}
.project {
  padding: 30px 30px;
  margin-bottom: 100px;
}
.project:last-child {
  margin-bottom: 30px;
}
.project__wrapper {
  display: flex;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}
.project__wrapper:before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #1c1d25;
  opacity: 0;
  transition: opacity 300ms ease;
}
.project:hover .project__wrapper:before {
  opacity: 0.7;
}
.project:hover .project__description {
  opacity: 1;
  transform: translateY(-50%);
}

.project:hover .project__img {
  transform: scale(1.05);
  filter: blur(5px);
}

.project__description {
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(100%);
  max-width: 550px;
  z-index: 3;
  opacity: 0;
  transition: transform 450ms, opacity 500ms ease;
}

.project__description--title {
  font-size: var(--font-lg);
}
.project__desctiption--para {
  padding: 16px 0;
}
.project__description--link {
  font-size: var(--font-norm);
  margin-right: 16px;
  text-decoration: none;
}

.project__description--title,
.project__desctiption--subtitle,
.project__description--para,
.project__description--links,
.project__description--link {
  color: white;
  text-align: left;
}
.project__description--link {
  font-size: var(--font-med);
}

/*  Footer  */

footer {
  background-color: #242424;
  position: relative;
}
footer .row {
  padding: 8% 0 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
footer img {
  max-width: 70px;
}
.logo--white {
  filter: invert(1);
}
.footer__social--list a,
footer p,
.footer__anchor--popper,
.fa-arrow-up {
  color: white;
  text-decoration: none;
  padding: 20px;
}
.footer__social--list {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: space-around;
  animation: animate-wiggle 1800ms ease-in;
}

.footer__anchor {
  margin-bottom: 20px;
  position: relative;
}
.footer__anchor--popper {
  position: absolute;
  right: 0;
  top: 0px;
  font-weight: 700;
  opacity: 0;
  transition: all 300ms ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__anchor:hover .footer__anchor--popper {
  transform: translateX(100px);
  opacity: 1;
}

/* 

Shapes

*/

.shape {
  position: fixed;
  z-index: 0;
}
.shape--0 {
  top: 15vh;
  left: 5vw;
}
.shape--1 {
  top: 15vh;
  left: 50vw;
}
.shape--2 {
  top: 15vh;
  left: 80vw;
}
.shape--3 {
  top: 50vh;
  left: 5vw;
}
.shape--4 {
  top: 50vh;
  left: 50vw;
}
.shape--5 {
  top: 50vh;
  left: 80vw;
}
.shape--6 {
  top: 80vh;
  left: 5vw;
}
.shape--7 {
  top: 80vh;
  left: 50vw;
}
.shape--8 {
  top: 80vh;
  left: 80vw;
}

/*  for small phones -tablets - large smartphones */
<<<<<<< HEAD
@media (max-width: 768px) {
  nav {
    height: 68px;
  }
  h1 {
    font-size: var(--font-lg);
  }
  .about-me__info--para {
    font-size: var(--font-med);
  }
  .language {
    width: 50%;
  }
  .language__list {
    justify-content: center;
  }
  .project__description--para {
    font-size: var(--font-sm);
  }
  .project__description {
    padding-right: 30px;
    left: 30px;
  }
  .personal__logo {
    max-height: 80%;
  }
  .modal {
    top: 0;
    left: 0;
    width: 100%;
    transform: none;
    height: auto;
    flex-direction: column-reverse;
  }
  .modal__half {
    width: 100%;
    border-radius: 0;
  }
}
/*  smaller phones */
@media (max-width: 480px) {
  .nav__link:first-child {
    display: none;
  }
  h1 {
    font-size: var(--font-lg);
  }
  .about-me__info--para {
    font-size: var(--font-med);
    margin: 40px;
  }
  .project__description--para {
    display: none;
  }
  .project__description--links {
    display: flex;
    justify-content: center;
  }
  .project__description--title,
  .project__desctiption--subtitle {
    text-align: center;
  }
  .project__description--title {
    font-size: var(--font-med);
  }
  .project__description {
    left: 0;
    width: 100%;
  }
  .project {
    margin-bottom: 30px;
  }
  .project__wrapper {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  }
  .modal__half {
    padding: 40px;
  }
}
=======
@media (max-width: 768px){
    nav{
        height: 68px;
    }
    h1{
        font-size: var(--font-lg);
        }
    .about-me__info--para{
        font-size: var(--font-med); 
        }
    .language{
        width: 50%;
    }
    .language__list{
        justify-content: center;
    }
    .project__description--para{
        font-size: var(--font-sm);
        }
    .project__description{
        padding-right: 30px;
        left: 30px;
    }
    .personal__logo{
        max-height: 80%;
    }
    .modal {
        top: 0;
        left: 0;
        width: 100%;
        transform: none;
        height: auto;
        flex-direction: column-reverse;
    }
    .modal__half{
        width: 100%;
        border-radius: 0;
    }
    .text--accent{
        color: #242424;
    }
    .dark-theme .text--accent{
        color: white
    }
}
/*  smaller phones */
@media (max-width: 480px){
    .nav__link:first-child{
        display: none;
    }
    h1{
        font-size: var(--font-lg);
        }
    .about-me__info--para{
        font-size: var(--font-med); 
        margin: 40px;
        }
    .project__description--para{
        display: none;
    }
    .project__description--links{
        display: flex;
        justify-content: center;
    }
    .project__description--title, .project__desctiption--subtitle{
        text-align: center;
    }
    .project__description--title{
        font-size: var(--font-med);
        }
    .project__description{
        left:0;
        width: 100%;
    }
    .project {
        margin-bottom: 30px;

    }
    .project__wrapper{
        box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
    }
    .modal__half{
        padding: 40px;
    }
    .text--accent{
        color: #242424;
    }
    .dark-theme .text--accent{
        color: white
    }
}
>>>>>>> 8baa258de80106da68e3b859cb8a5044b49dece7
